<div class="table-container">
  <%- include('../../../../shared/user/function.ejs') %>

  <% if(orderList.length==0){ %>
    <button class="more-btn">You have not any order yet !!!</button>
    <% } else { %>
  <table class="data-table">
    <thead>
      <tr>
        <th scope="col">Order Date</th>
        <th scope="col">Order ID</th>
        <th scope="col">Sum</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

          <% orderList.forEach(function(order) { %>
            <tr>
              <td id="orderDate">
                <%= moment(order.startday).format("DD-MM-YYYY")%>
              </td>
              <td id="orderID">
                <%= order._id %>
              </td>
              <td id="orderSum">
                <%= formatPrice(order.price)  %>
              </td>
              <td id="orderStatus">Shipping</td>
              <td><a href="<%= `/userprofile/order-detail/?orderID=${order._id}` %>">detail</a></td>
            </tr>
            <%})%>
    </tbody>
  </table>
  <% } %> 
</div>
