<%- contentFor("head") %> 

<link rel="stylesheet" href="/public/stylesheets/user/cart-page.css">
<%- contentFor("body") %> 

<div class="breadcrumbs_area other_bread">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">home</a></li>
                        <li>/</li>
                        <li>cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->

<!-- shopping cart area start -->
<div class="shopping_cart_area">
    <div class="container">  
        <div > 
            <div id ="cart_table">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product_remove">Delete</th>
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product_quantity">Quantity</th>
                                        <th class="product_total">Total</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <%- include('partial/cart-container.ejs',{items:cartList}) %> 
                                </tbody>
                            </table>   
                        </div>  
                        <% if(cartList.length > 0) { %> 
                        <div class="cart_submit">
                            <button id="update-button" class="cart-button">update cart</button>
                        </div>    
                        <% } %>   
                    </div>
                </div>
            </div>
        </div>
            <div class="coupon_area">
                <div class="coupon_code">
                    <h3><i class="fa-solid fa-location-dot"></i> Choose your address</h3>
                    <div class="address-item-container">
                        
                        <div class = "info-container">
                          <span class = "name-wrapper">
                            <h5 class = "user-name" id="delivery_name">Name: Empty</h5>
                          </span>
                          <p class="user-info" id="delivery_address"><span>Address:</span> Empty</p>
                          <p class="user-info" id="delivery_phone"><span>Phone number:</span> Empty</p>
                        </div>
                        <div class="cart_submit">
                            <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="cart-button">CHANGE</button>
                        </div>
                      </div>    
                </div>
            </div>

            <div class="coupon_area">
                <div class="coupon_code">
                    <h3><i class="fa-solid fa-credit-card"></i> Choose payment method</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            <img class = "icon cod" src="public/assets/img/payment/COD.png" alt="#"> COD
                        </label>
                    </div>
                
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault3">
                            <img class = "icon" src="public/assets/img/payment/zalopay.png" alt="#"> Payment throw Zalo Pay
                        </label>
                    </div>   
                </div>
            </div>
            <!--coupon code area start-->
            <div class="coupon_area">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code left">
                            <h3><i class="fa-solid fa-percent"></i> Coupon</h3>
                            <div class="coupon_inner">   
                                <p>Enter your coupon code if you have one.</p>                                
                                <input placeholder="Coupon code" id="code-input" type="text">
                                <button id="coupon-button" class ="cart-button">Apply coupon</button>
                            </div>    
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code right">
                            <h3><i class="fa-solid fa-money-bill"></i> Cart Totals</h3>
                            <div class="coupon_inner">
                               <div class="cart_subtotal">
                                   <p>Subtotal</p>
                                   <p class="cart_amount" id="cart-total" data-price="0">0</p>
                               </div>
                               <div class="cart_subtotal ">
                                   <p>Discount</p>
                                   <p class="cart_amount text-danger" id="discount"> <%= formatPrice(0) %></p>
                               </div>
                             
                               <div class="cart_subtotal">
                                   <p>Total</p>
                                   <p class="cart_amount" id="price-total" data-price="0">0</p>
                               </div>
                               <div class="checkout_btn cart-button" id="place_order_btn">
                                   <a>Place order</a>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--coupon code area end-->
            
        </div> 
    </div>     
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <% if(userAddress.length==0){ %>
                <span>Add your new address in profile page !!!</span>
          <%  } else {%>
            <% let i=0 %> 
            <% userAddress.forEach(function(address){ %> 
                <div class="address-item-container ">
                    <div class="info-container">
                      <span class="name-wrapper">
                        <h5 class="user-name">
                            <% address.name %> 
                        </h5>
                        
                      </span>
                      <p class="user-info"><span>Address:</span>
                        <%= `${address.address}, ${address.ward}, ${address.district}, ${address.province}.` %>
                      </p>
                      <p class="user-info"><span>Phone number:</span>
                        <% address.phone %> 
                      </p>
                    </div>
                    <button class="modified-btn btn btn-primary modify-address" data-index="<%= i %>" data-default="false" data-bs-toggle="modal" data-bs-target="#modifiedAddressModal"><i class="fa-solid fa-pen"></i></button>
                  </div>
                  <% i++ -%> 
        <% }) %> 
                <% } %> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <% if(userAddress.length!=0){ %>
            <button type="button" class="btn btn-primary cart-button">Save changes</button>
      <%  } %>
        
        </div>
      </div>
    </div>
  </div>
  <div class="message_container"></div>
<%- contentFor("end") %> 
<script>let deliveryAddress= JSON.parse(`<%- JSON.stringify(userAddress)%>`);</script>
<script src="/public/javascripts/user/function.js"></script>
<script src="/public/javascripts/user/cart-page.js"></script>
