<%- contentFor("head") %> 

<link rel="stylesheet" href="/public/stylesheets/user/cart-page.css">
<%- contentFor("body") %> 

<div class="breadcrumbs_area other_bread">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">home</a></li>
                        <li>/</li>
                        <li>cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->

<!-- shopping cart area start -->
<div class="shopping_cart_area">
    <div class="container">  
        <div > 
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product_remove">Delete</th>
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product_quantity">Quantity</th>
                                        <th class="product_total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%- include('partial/cart-container.ejs',{items:cartList}) %> 
                                    </tr>
                                </tbody>
                            </table>   
                        </div>  
                        <div class="cart_submit">
                            <button id="update-button">update cart</button>
                        </div>      
                    </div>
                </div>
            </div>
            <div class="coupon_area">
                <div class="coupon_code">
                    <h3><i class="fa-solid fa-location-dot"></i> Choose your address</h3>
                    <div class="address-item-container">
                        
                        <div class = "info-container">
                          <span class = "name-wrapper">
                            <h5 class = "user-name">Name: Trần Quang Tuấn</h5>
                          </span>
                          <p class="user-info"><span>Address:</span> 670/2 TNV, Tp.Thu Duc, Ho Chi Minh</p>
                          <p class="user-info"><span>Phone number:</span> (+84) 0823 *** ***</p>
                        </div>
                        <div class="cart_submit">
                            <button type="submit">CHANGE</button>
                        </div>
                      </div>    
                </div>
            </div>

            <div class="coupon_area">
                <div class="coupon_code">
                    <h3><i class="fa-solid fa-credit-card"></i> Choose payment method</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            <img class = "icon cod" src="public/assets/img/payment/COD.png" alt="#"> COD
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            <img class = "icon" src="public/assets/img/payment/momo.png" alt="#"> Payment throw MOMO
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                        <label class="form-check-label" for="flexRadioDefault3">
                            <img class = "icon" src="public/assets/img/payment/zalopay.png" alt="#"> Payment throw Zalo Pay
                        </label>
                    </div>   
                </div>
            </div>
            <!--coupon code area start-->
            <div class="coupon_area">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code left">
                            <h3><i class="fa-solid fa-percent"></i> Coupon</h3>
                            <div class="coupon_inner">   
                                <p>Enter your coupon code if you have one.</p>                                
                                <input placeholder="Coupon code" id="code-input" type="text">
                                <button id="coupon-button">Apply coupon</button>
                            </div>    
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code right">
                            <h3><i class="fa-solid fa-money-bill"></i> Cart Totals</h3>
                            <div class="coupon_inner">
                               <div class="cart_subtotal">
                                   <p>Subtotal</p>
                                   <p class="cart_amount" id="cart-total" data-price="0">0</p>
                               </div>
                               <div class="cart_subtotal ">
                                   <p>Discount</p>
                                   <p class="cart_amount text-danger" id="discount"> <%= formatPrice(0) %></p>
                               </div>
                             
                               <div class="cart_subtotal">
                                   <p>Total</p>
                                   <p class="cart_amount" id="price-total" data-price="0">0</p>
                               </div>
                               <div class="checkout_btn" id="place_order_btn">
                                   <a>Place order</a>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--coupon code area end-->
            
        </div> 
    </div>     
</div>
<%- contentFor("end") %> 
<script src="/public/javascripts/user/function.js"></script>
<script src="/public/javascripts/user/cart-page.js"></script>
