<%- contentFor("head") %>

  <link rel="stylesheet" href="/public/stylesheets/user/user-profile-page.css">
  <title>User profile</title>
  <%- contentFor("body") %>


    <div class="user-account-area">
      <div class="container ">
        <div class="row" id="menu-area">
          <div class="col-4" id="tag-area">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active " id="list-profile-list" data-bs-toggle="list"
                href="#list-profile" role="tab" aria-controls="list-profile-list">
                <div class="row">
                  <div class="col-1">
                    <i class="fa-solid fa-user fa-lg"></i>
                  </div>
                  <div class="col-11">
                    <p class="tag_name">Account</p>
                  </div>
                </div>
              </a>
              <a class="list-group-item list-group-item-action" id="list-history-list" data-bs-toggle="list"
                href="#list-history" role="tab" aria-controls="list-history">
                <div class="row">
                  <div class="col-1">
                    <i class="fa-solid fa-cart-shopping fa-lg"></i>
                  </div>
                  <div class="col-11">
                    <p class="tag_name">Order History</p>
                  </div>
                </div>
              </a>
              <a class="list-group-item list-group-item-action" id="list-wishlist-list" data-bs-toggle="list"
                href="#list-wishlist" role="tab" aria-controls="list-wishlist">
                <div class="row">
                  <div class="col-1">
                    <i class="fa-solid fa-heart fa-lg"></i>
                  </div>
                  <div class="col-11">
                    <p class="tag_name">Wishlist</p>
                  </div>
                </div>
              </a>
              <a class="list-group-item list-group-item-action" id="list-repassword-list" data-bs-toggle="list"
                href="#list-repassword" role="tab" aria-controls="list-repassword">

                <div class="row">
                  <div class="col-1">
                    <i class="fa-solid fa-key fa-lg"></i>
                  </div>
                  <div class="col-11">
                    <p class="tag_name">Password</p>
                  </div>
                </div>
              </a>
              <a class="list-group-item list-group-item-action " id="list-address-list" data-bs-toggle="list"
                href="#list-address" role="tab" aria-controls="list-address">
                <div class="row">
                  <div class="col-1">
                    <i class="fa-solid fa-location-dot fa-lg"></i>
                  </div>
                  <div class="col-11">
                    <p class="tag_name">Address Managerment</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-8 content-area" id="content-area">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade" id="list-history" role="tabpanel" aria-labelledby="list-history-list">
                <div class = "history-container">
                  <h2 class="tag_title">History</h2>
                  <p class = "tag_explaint">Show your previous order's informations</p>
                  <hr class="solid">
                  <div class="filter-wrapper">
                    <div class = "input-container">
                      <input type="text" class = "form-input" id="filter_input" placeholder=" ">
                      <label for = "name" class = "form-label">Search</label>
                    </div>
                    <div class = "input-container">
                      <input type="date" id="start_date" class = "form-input" placeholder=" ">
                      <label for = "name" class = "date-label">From</label>
                    </div>
                    <div class = "input-container">
                      <input type="date"  id="end_date" class = "form-input" placeholder=" ">
                      <label for = "name" class = "date-label">To</label>
                    </div>
                    <button class = "btn btn-primary" id="order_history_filter_button">Filter</button>
                  </div>
                  <hr class="solid">
                  <div id="order-history-container">
                    <%- include('partial/user-order-history.ejs',{orderList,moment}) %>
                  </div>
                </div>
              
              </div>
              <div class="tab-pane fade" id="list-wishlist" role="tabpanel" aria-labelledby="list-wishlist-list">
                <%- include('partial/user-wishlist.ejs',{user, currentPage:1}) %>
              </div>
              <div class="tab-pane fade" id="list-repassword" role="tabpanel" aria-labelledby="list-repassword-list">
                <%- include('partial/user-repassword.ejs',{user}) %>
              </div>
              <div class="tab-pane fade" role="tabpanel" id="list-address"
                aria-labelledby="list-address-list">
                <div class="address-managerment-container ">
                  <h2 class="tag_title">Address Managerment</h2>
                  <p class="tag_explaint">Manage your address</p>
                  <hr class="solid">
                  <button class="add-address-btn open-address-modal" data-bs-toggle="modal"
                    data-bs-target="#addAddressModal" data-index="-1"><i class="fa-solid fa-plus"></i> Add New
                    Address</button>
                  <div id="address-area">
                    <%- include('partial/user-delivery-address.ejs',{user}) %>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade show active " id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <%- include('partial/user-profile.ejs',{user,moment}) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- delete address modal start -->
    <div class="modal fade" id="deleteAddressModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Address</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Do your want to delete this address?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" id="access-delete-button" data-bs-dismiss="modal"
              data-index="-1">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- delete address modal end  -->

    <!-- modified address modal start -->
    <div class="modal fade" id="modifiedAddressModal" tabindex="-1" aria-labelledby="addModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Mofify address</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="input-container">
              <input type="text" class="form-input" placeholder=" " id="modified_name_input" name="name"
                autocomplete="off">
              <label for="name" class="form-label">Name</label>
            </div>

            <div class="input-container">
              <input type="text" class="form-input" placeholder=" " id="modified_phone_input" name="phone"
                autocomplete="off">
              <label for="phoneNumber" class="form-label">Phone number</label>
            </div>
            <div class="input-container">
              <select name="province" class="form-input" id="modified_province_input">

              </select>
              <label for="name" class="select-label">Province/City</label>
            </div>
            <div class="input-container">
              <select name="district" class="form-input" id="modified_district_input">

              </select>
              <label for="name" class="select-label">District</label>
            </div>
            <div class="input-container">
              <select name="subDistrict" class="form-input" id="modified_ward_input">
              </select>
              <label for="name" class="select-label">Sub-District</label>
            </div>
            <div class="input-container">
              <input type="text" class="form-input" placeholder=" " name="address" id="modified_address_input"
                autocomplete="off">
              <label for="address" class="form-label">Address</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="modifiedAddressCheckBox" checked>
              <label class="form-check-label" for="modifiedAddressCheckBox">
                Set as default address
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary add_modify_button" id="modified_address_button" data-index="-1"
              data-type="save">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- modified address modal end -->

    <!-- Address modal  start -->
    <div class="modal fade " id="addAddressModal" tabindex="-1" aria-labelledby="addModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add new address</h5>
            <button type="button" class="btn-close open-address-modal" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="input-container">
              <input type="text" class="form-input" placeholder=" " name="name" id="modal_name_input" autocomplete="on">
              <label for="name" class="form-label">Name</label>
            </div>
            <div class="input-container">
              <input type="text" class="form-input" placeholder=" " name="phoneNumber" id="modal_phone_input"
                autocomplete="on">
              <label for="phoneNumber" class="form-label">Phone number</label>
            </div>
            <div class="input-container">
              <select name="province" id="province_input" class="form-input">
                <option value="-1">Select Province/City</option>
                <% let i=0 -%>
                  <% provinces.forEach(element=> { -%>
                    <option value="<%= i %>"><%= element.name%></option>
                    <% i++ -%>
                      <% }); -%>
              </select>
              <label for="name" class="select-label">Province/City</label>
            </div>
            <div class="input-container">
              <select name="district" id="district_input" class="form-input">
                <option value="-1">Select District</option>
              </select>
              <label for="name" class="select-label">District</label>
            </div>
            <div class="input-container">
              <select name="subDistrict" id="ward_input" class="form-input">
                <option value="-1">Select Ward</option>
              </select>
              <label for="name" class="select-label">Sub-District</label>
            </div>
            <div class="input-container">
              <input type="text" class="form-input" placeholder=" " name="address" id="address_input" autocomplete="on">
              <label for="address" class="form-label">Address</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="addAddressCheckBox">
              <label class="form-check-label" for="addAddressCheckBox">
                Set as default address
              </label>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary add_modify_button" data-type="add">Add</button>
          </div>
        </div>
      </div>
    </div>
    <div class="message_container"></div>
    <!-- Address modal  end -->
    <%- contentFor("end") %>
    <script> src="/public/shared"</script>
      <script> const provincesString = `<%- provincesJSON %>` </script>
      <script> var deliveryAddressJSON = `<%- JSON.stringify(user.deliveryAddress) %>`  </script>
    
      <script src="/public/validator/validator.js"></script>
      <script src="/public/javascripts/user/user-profile-page/change-password.js"></script>
      <script src="/public/javascripts/user/user-profile-page/delivery-address.js"></script>
      <script src="/public/javascripts/user/user-profile-page/order-history.js"></script>
      <script src="/public/javascripts/user/user-profile-page/user-account.js"></script>
      <script src="/public/javascripts/user/user-profile-page/wish-list.js"></script>
