<% include ('../../../shared/function.ejs') %> 
<%- contentFor("head") %> 

    <link rel="stylesheet" href="/public/stylesheets/product-detail-page.css">
    <%- contentFor("body") %>


<div class="breadcrumbs_area product_bread">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/home">home</a></li>
                        <li>/</li>
                        <li>product details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->

<!--product details start-->
<div class="product_details">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
               <div class="product-details-tab">

                   
                    <div id="img-1" class="zoomWrapper single-zoom">
                        <a href="#">
                            <img id="zoom1" src="https://drive.google.com/uc?export=view&id=1UpaZAWATd6QnxZeldkNJz8zfRYC2aOUC" data-zoom-image="https://drive.google.com/uc?export=view&id=1UpaZAWATd6QnxZeldkNJz8zfRYC2aOUC" alt="big-1">
                        </a>
                    </div>
                    <div class="single-zoom-thumb">
                        <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
                            <!-- <li>
                                <a href="#" class="elevatezoom-gallery active" data-update="" data-image="assets/img/product/product4.jpg" data-zoom-image="assets/img/product/product4.jpg">
                                    <img src="assets/img/s-product/product3.jpg" alt="zo-th-1"/>
                                </a>
                            </li> -->
                            <% photos.forEach(  (photoItem) => { -%>
                                <li>
                                    <a href="#" class="elevatezoom-gallery active" data-update="" data-image="<%= photoItem.path %>" data-zoom-image="<%= photoItem.path %>">
                                        <img src="<%= photoItem.path %>" alt="zo-th-1"/>
                                    </a>
                                </li>
                                <% });-%>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="product_d_right">
                   <form action="#">
                       <% console.log(product.name) -%>
                        <h1> <%= product[0].name %> </h1>
                        <div class=" product_ratting">
                            <ul>
                                <li><a href="/home">home</a></li>
                                <li>/</li>
                                <li>product details</li>
                            </ul>
                        </div>
                        <div class="product_price">
                            <span class="current_price"><%= formatPrice(product[0].price)%> </span>
                        </div>
                        <div class="product_desc">
                            <p> <%= product[0].descript %> </p>
                        </div>

                        <div class="product_variant color">
                            <h3>color</h3>
                            <select class="niceselect_option" id="color" name="produc_color">
                                <option selected value="1">choose in option</option>
                                <% var quatityColor= 1 -%>
                                <% var tempColor= [] -%>
                                <% photos.forEach((item)=>{ -%>
                                    <% if(!tempColor.includes(item.color)){-%>
                                    <%  tempColor.push(item.color) -%>
                                    <% quatityColor++ -%>
                                    <option value="<%= quatityColor %>"><%= item.color %></option>  
                                    <% } -%>
                                <% }) -%>        
                                        
                            </select>   
                        </div>
                        <div class="product_variant size">
                            <h3>size</h3>
                            <select class="niceselect_option" id="color1" name="produc_color">
                                <option selected value="1">size</option> 
                                <% var sizeTemp= [] -%>
                                <% var countSize= 1 -%>       
                              <% quantity.forEach((element)=>{ -%>
                                <% if(!sizeTemp.includes(element.size)){-%>
                                    <% sizeTemp.push(element.size) -%>
                                    <%   countSize++ -%>
                                    <option value="<%= countSize%>"><%= element.size%></option> 
                                    <%} -%>
                             <% }) %>              
                                            
                            </select> 
                        </div>
                        <div class="product_variant quantity">
                            <label>quantity</label>
                            <input min="1" max="100" value="1" type="number">
                            <button class="button" type="submit">add to cart</button>  
                        </div>
                        <div class=" product_d_action">
                           <ul>
                               <li><a href="#" title="Add to wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i> Add to Wish List</a></li>
                               <li><a href="#" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i> Compare this Product</a></li>
                           </ul>
                        </div>
                        
                    </form>
                    <div class="product_social">
                        <h3>Share on:</h3>
                        <ul>
                            <li><a href="#"><i class="fa-solid fa-rss"></i></a></li>           
                            <li><a href="#"><i class="fa-brands fa-vimeo-v"></i></a></li>           
                            <li><a href="#"><i class="fa-brands fa-tumblr"></i></a></li>           
                            <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>        
                            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>        
                        </ul>      
                    </div>
                </div>
            </div>
        </div>
        <!--breadcrumbs area end-->

        <!--product details start-->
        <div class="product_details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <div class="product-details-tab">

                            <div id="img-1" class="zoomWrapper single-zoom">
                                <a href="#">
                                    <img id="zoom1" src="<%= photos[0].path %>" data-zoom-image="<%= photos[0].path %>"
                                        alt="big-1">
                                </a>
                            </div>

                            <div class="single-zoom-thumb">
                                <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
                                    <!-- <li>
                                <a href="#" class="elevatezoom-gallery active" data-update="" data-image="assets/img/product/product4.jpg" data-zoom-image="assets/img/product/product4.jpg">
                                    <img src="assets/img/s-product/product3.jpg" alt="zo-th-1"/>
                                </a>
                            </li> -->
                                    <% console.log(photos[0]) -%>
                                        <% photos.forEach( (photoItem)=> { -%>
                                            <li>
                                                <a href="#" class="elevatezoom-gallery active" data-update=""
                                                    data-image="<%= photoItem.path %>"
                                                    data-zoom-image="<%= photoItem.path %>">
                                                    <img src="<%= photoItem.path %>" alt="zo-th-1" />
                                                </a>
                                            </li>
                                            <% });-%>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="product_d_right">
                            <div>
                                <h1>
                                    <%= product[0].name %>
                                </h1>
                                <div class=" product_ratting">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li class="review"><a href="#"> 1 review </a></li>
                                        <li class="review"><a href="#"> Write a review </a></li>
                                    </ul>
                                </div>
                                <div class="product_price">
                                    <span class="current_price">
                                        <%= product[0].price %>
                                    </span>
                                </div>
                                <div class="product_desc">
                                    <p>
                                        <%= product[0].descript %>
                                    </p>
                                </div>

                                <div class="product_variant color">
                                    <h3>color</h3>
                                    <select class="niceselect_option" id="color-select" name="produc_color">
                                        <option selected value="0">Choose in option</option>
                                        <% var quatityColor=1 -%>
                                            <% var tempColor=[] -%>
                                                <% quantity.forEach((item)=>{ -%>
                                                    <% if(!tempColor.includes(item.color)){-%>
                                                        <% tempColor.push(item.color) -%>
                                                            <% quatityColor++ -%>
                                                                <option value="<%= item.color %>">
                                                                    <%= item.color %>
                                                                </option>
                                                                <% } -%>
                                                                    <% }) -%>

                                    </select>
                                </div>
                                <div class="product_variant size">
                                    <h3>size</h3>
                                    <select class="niceselect_option" id="size-select" name="produc_size">
                                        <option selected value="0">Choose in option</option>
                                        <% var sizeTemp=[] -%>
                                            <% var countSize=1 -%>
                                                <% quantity.forEach((element)=>{ -%>
                                                    <% if(!sizeTemp.includes(element.size)){-%>
                                                        <% sizeTemp.push(element.size) -%>
                                                            <% countSize++ -%>
                                                                <option value="<%= element.size%>">
                                                                    <%= element.size%>
                                                                </option>
                                                                <%} -%>
                                                                    <% }) %>

                                    </select>
                                </div>
                                <div class="product_variant quantity">
                                    <label>quantity</label>
                                    <input min="1" max="100" value="1" id="quantity" type="number">
                                    <button id="add-to-cart-button" class="button">Add to cart</button>
                                </div>
                                <div class=" product_d_action">
                                    <ul>
                                        <li><a href="#" title="Add to wishlist"><i class="fa fa-heart-o"
                                                    aria-hidden="true"></i> Add to Wish List</a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="product_social">
                                <h3>Share on:</h3>
                                <ul>
                                    <li><a href="#"><i class="fa-solid fa-rss"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-vimeo-v"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-tumblr"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--product details end-->

        <!--product info start-->
        <div class="product_d_info">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="product_d_inner">
                            <div class="product_info_button">
                                <ul class="nav" role="tablist">
                                    <li>
                                        <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info"
                                            aria-selected="false">More info</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
                                            aria-selected="false">Reviews</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="info" role="tabpanel">
                                    <div class="product_info_content">
                                        <p>
                                            <%= product[0].moreinfo %>
                                        </p>
                                    </div>
                                </div>

                                
                                <div class="tab-pane fade" id="reviews" role="tabpanel">
                                  
                                            <%- include('review.ejs',{reviews: reviews,moment:moment}); %>
                                  
                                    <div class="product_review_form">
                                        <div >
                                            <h2>Add a review </h2>
                                            <p>Your email address will not be published. Required fields are marked </p>
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="review_comment">Your review </label>
                                                    <textarea id="comment" id="review_comment"></textarea>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <label for="author">Name</label>
                                                    <input id="author" type="text">

                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <label for="email">Email </label>
                                                    <input id="email" type="text">
                                                </div>
                                            </div>
                                            <button  id="add-review">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--product info end-->

        <!--product section area start-->
        <section class="product_section related_product">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_title">
                            <h2>Related Products</h2>
                        </div>
                    </div>
                </div>
                <div class="product_area">
                    <div class="row">
                        <div class="product_carousel product_three_column4 owl-carousel">
                            <% allProducts.forEach(function(item){ -%>
                                <div class="col-lg-3 col-md-4 col-12">
                                    <%- include('related-product-container.ejs',{product: item,photos:allPhotos}); %>
                                </div>
                                <% }); -%>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--product section area end-->
        <!-- modal alert start -->
        <%- include('add-to-cart-popup.ejs',{}); %>


            <!-- hide form -->
            <form action="" method="POST" id="add-to-cart-form"></form>
            <!-- Script -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

            <script>
                $("#add-to-cart-button").click(function () {
                    selectedColor = $('#color-select').find(":selected").val();
                    selectedSize = $('#size-select').find(":selected").val();
                    quantity = $('#quantity').val()

                    if (selectedColor != '0' && selectedSize != '0') {
                        cartUrl = `cart/<%=  product[0]._id %>?size=${selectedSize}&color=${selectedColor}&quantity=${quantity}`
                        //   $('#add-to-cart-form').submit()
                        let cartObject = {
                            productid: '<%=  product[0]._id %>',
                            size: selectedSize,
                            color: selectedColor,
                            quantity: quantity
                        }
                        $.post("/cart",
                            cartObject,
                            function (data, status) {
                                // add popup here
                                alert(data)
                            });
                    } else {
                        $('#add-popup').modal('show')
                    }
                })

            </script>
            <script>
                $('#add-review').click(
                    function(){
                        if($('#author').val()&& $('#email').val()&& $('#comment').val()&& $('#comment').val() ){
                            reviewObject={
                                name:$('#author').val(),
                                email:$('#email').val(),
                                comment: $('#comment').val(),
                                productid:'<%= product[0]._id %>'
                                }
                            $.post("/productdetail",
                                reviewObject,
                            function (data, status) {
                                alert(JSON.stringify(reviewObject))
                            });
                        }
                 })
            </script>
