   <!-- render container chứa sản phẩm , cần 2 tham số -->
   <!-- tham số là product( object lấy từ db của sản phẩn cần hiển thị) và photos(những đối tượng hình ảnh từ database) -->
   <% if(product&&photos){ -%>
    <!-- tim` hinh dau` tien -->
    <% var photo1='empty' -%>
    <% var photoColor='' -%>
    <%  photos.forEach(function(photoItem){  -%>
            <% if(photoItem.productDetailID.equals(product._id) &&photo1=='empty'){ -%>
                <% photo1=photoItem.path -%>
                <% photoColor= photoItem.color -%>
            <% } -%>
        <% }); -%>
    <!-- tim` hinh dau` tien -->

    <!-- Tìm hình thứ 2 -->
    <% var photo2=photo1 -%>
    <%  photos.forEach(function(photoItem){  -%>
        <% if(photoItem.productDetailID.equals(product._id) &&photo1==photo2 && photoColor!=photoItem.color ){ -%>
            <% photo2=photoItem.path -%>
        <% } -%>
    <% }); -%>
    <!-- Tìm hình thứ 2 -->  
    <%  var ref= `/productdetail?id=${product._id}`-%>  
      <% if(isHomePage){%> 
        <%  ref= `productdetail?id=${product._id}`%>
   <% }%>

    <!-- render product container -->
    
        <div class="single_product">
            <div class="product_thumb">
                <a class="primary_img" href="<%= ref %>"><img src="<%= photo1 %>"    alt=""></a>
                <a class="secondary_img" href="<%= ref %>"><img src="<%= photo2 %>"  alt=""></a>
                <div class="quick_button">
                    <a href="<%= ref %>" title="quick_view">Xem sản phẩm</a>
                </div>
                <!-- Gắn tag cho sản phẩm -->
                <div class="double_base">
                    <%  if(product.discount) {-%>
                        <div class="product_sale">
                            <span>-<%= product.discount %>%</span>
                        </div>   
                        <% } else if(product.status.includes("Hot")) {%>
                        <div class="product_sale">
                            <span>Hot</span>
                        </div> 
                        <% }%>
                        <% if (product.status.includes("New")){ -%>
                            <div class="label_product">
                                <span>New</span>
                            </div>
                        <% } else if(product.status.includes("Hot")){ -%>
                            <div class="label_product">
                                <span>Hot</span>
                            </div>
                            <% }%>
                        
                        
                </div>
                
                 <!-- Gắn tag cho sản phẩm -->
                
            </div>      
            <div class="product_content grid_content">
                <h3><a href="<%= ref %>"></a> <%= product.name %></h3>
                <%  if(product.discount) {-%>
                    <span class="current_price"><%= (product.price*(100-product.discount))/100 %>VND</span>
                    <span class="old_price"><%= product.price %>VND</span>
                        <% } else { -%>
                    <span class="current_price"><%= product.price %>VND</span>
                         <% } -%>
            </div>
            <div class="product_content list_content">
                <h3><a href="<%= ref %>"><%= product.name %></a></h3>
                <div class="product_ratting">
                    <ul>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                </div>
                <div class="product_price">
                    <%  if(product.discount) {-%>
                        <span class="current_price"><%= (product.price*(100-product.discount))/100 %>VND</span>
                        <span class="old_price"><%= product.price %>VND</span>
                            <% } else { -%>
                        <span class="current_price"><%= product.price %>VND</span>
                             <% } -%>
                </div>
                <div class="product_desc">
                    <p><%= product.discripe %></p>
                </div>

            </div>
            
        </div>
    <% } -%>