<% include ('../../../shared/user/function.ejs') %> 
<%- contentFor("head") %> 

    <link rel="stylesheet" href="/public/stylesheets/user/product-detail-page.css">
    <%- contentFor("body") %>


<div class="breadcrumbs_area product_bread">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/home">home</a></li>
                        <li>/</li>
                        <li>product details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->

<!--product details start-->

        <!--breadcrumbs area end-->

        <!--product details start-->
        <div class="product_details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <div class="product-details-tab">

                            <div id="img-1" class="zoomWrapper single-zoom">
                                <a href="#">
                                    <img id="zoom1" src="<%= photos[0].path %>" data-zoom-image="<%= photos[0].path %>"
                                        alt="big-1">
                                </a>
                            </div>

                            <div class="single-zoom-thumb">
                                <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
                                    <% console.log(photos[0]) -%>
                                        <% photos.forEach( (photoItem)=> { -%>
                                            <li>
                                                <a href="#" class="elevatezoom-gallery active" data-update=""
                                                    data-image="<%= photoItem.path %>"
                                                    data-zoom-image="<%= photoItem.path %>">
                                                    <img src="<%= photoItem.path %>" alt="zo-th-1" />
                                                </a>
                                            </li>
                                            <% });-%>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="product_d_right">
                            <div>
                                <h1 id="product-name" data-name="<%= product[0].name %>">
                                    <%= product[0].name %>
                                </h1>
                                <div class=" product_ratting">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li class="review"><a href="#"> 1 review </a></li>
                                        <li class="review"><a href="#"> Write a review </a></li>
                                    </ul>
                                </div>
                                <div class="product_price" data-price="<%= calPrice(product[0].price,product[0].discount) %> ">
                                    <span class="current_price">
                                        <%=  formatPrice(calPrice(product[0].price,product[0].discount)) %>
                                    </span>
                                </div>
                                <div class="product_desc">
                                    <p >
                                        <%= product[0].descript %>
                                    </p>
                                </div>

                                <div class="product_variant color">
                                    <h3>color</h3>
                                    <select class="niceselect_option" id="color-select" name="produc_color">
                                        <option selected value="0">Choose in option</option>
                                        <% var quatityColor=1 -%>
                                            <% var tempColor=[] -%>
                                                <% quantity.forEach((item)=>{ -%>
                                                    <% if(!tempColor.includes(item.color)){-%>
                                                        <% tempColor.push(item.color) -%>
                                                            <% quatityColor++ -%>
                                                                <option value="<%= item.color %>">
                                                                    <%= item.color %>
                                                                </option>
                                                                <% } -%>
                                                                    <% }) -%>

                                    </select>
                                </div>
                                <div class="product_variant size">
                                    <h3>size</h3>
                                    <select class="niceselect_option" id="size-select" name="produc_size">
                                        <option selected value="0">Choose in option</option>
                                        <% var sizeTemp=[] -%>
                                            <% var countSize=1 -%>
                                                <% quantity.forEach((element)=>{ -%>
                                                    <% if(!sizeTemp.includes(element.size)){-%>
                                                        <% sizeTemp.push(element.size) -%>
                                                            <% countSize++ -%>
                                                                <option value="<%= element.size%>">
                                                                    <%= element.size%>
                                                                </option>
                                                                <%} -%>
                                                                    <% }) %>

                                    </select>
                                </div>
                                <div class="product_variant quantity">
                                    <label>quantity</label>
                                    <input min="1" max="100" value="1" id="quantity" type="number">
                                    <button id="add-to-cart-button" class="button">Add to cart</button>
                                </div>
                                <div class=" product_d_action">
                                    <ul>
                                        <li><a  id="add_to_wishlist" title="Add to wishlist"><i class="fa fa-heart-o"
                                                    aria-hidden="true"></i> Add to Wish List</a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="product_social">
                                <h3>Share on:</h3>
                                <ul>
                                    <li><a href="#"><i class="fa-solid fa-rss"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-vimeo-v"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-tumblr"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--product details end-->

        <!--product info start-->
        <div class="product_d_info">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="product_d_inner">
                            <div class="product_info_button">
                                <ul class="nav" role="tablist">
                                    <li>
                                        <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info"
                                            aria-selected="false">More info</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
                                            aria-selected="false">Reviews</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="info" role="tabpanel">
                                    <div class="product_info_content">
                                        <p>
                                            <%= product[0].moreinfo %>
                                        </p>
                                    </div>
                                </div>

                                
                                <div class="tab-pane fade" id="reviews" role="tabpanel">
                                    <div id="reviewscontainer"  class="scrollbar-warning product_review_container" >
                                        <%- include('review.ejs',{reviews: reviews,moment:moment}); %>
                                    </div>
                                           
                                  
                                    <div class="product_review_form">
                                        <div >
                                           
                                            <h2>Add a review </h2>
                                            
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit eros ac auctor tincidunt. Nam sodales sagittis scelerisque. Aliquam sollicitudin.</p>
                                            <div class="rating">
                                                <input type="radio" name="star" id="star1">
                                                <label for="star1"></label>
                                                <input type="radio" name="star" id="star2">
                                                <label for="star2"></label>
                                                <input type="radio" name="star" id="star3">
                                                <label for="star3"></label>
                                                <input type="radio" name="star" id="star4">
                                                <label for="star4"></label>
                                                <input type="radio" name="star" id="star5">
                                                <label for="star5"></label>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="author">Name</label>
                                                    <input id="author" type="text">

                                                </div>
                                                <div class="col-12">
                                                    <label for="review_comment">Your review </label>
                                                    <textarea id="comment" id="review_comment"></textarea>
                                                </div>
                                                
                                            </div>
                                            <button  id="add-review">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--product info end-->

        <!--product section area start-->
        <section class="product_section related_product">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_title">
                            <h2>Related Products</h2>
                        </div>
                    </div>
                </div>
                <div class="product_area">
                    <div class="row">
                        <div class="product_carousel product_three_column4 owl-carousel">
                            <% allProducts.forEach(function(item){ -%>
                                <div class="col-lg-3 col-md-4 col-12">
                                    <%- include('related-product-container.ejs',{product: item,photos:allPhotos}); %>
                                </div>
                                <% }); -%>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--product section area end-->
        <!-- modal alert start -->
        <%- include('add-to-cart-popup.ejs',{}); %>
            <!-- hide form -->
            <form action="" method="POST" id="add-to-cart-form"></form>
            <!-- Script -->

   <%- contentFor("end") %>
   <script>productid="<%=  product[0]._id %>"</script>
   <script>discount='<%= product[0].discount %>'</script>
   <script src="/public/javascripts/user/product-detail.js"></script>