<% if(product&&photos){ -%>
    <!-- tim` hinh dau` tien -->
    <% var photo1='empty' -%>
    <% var photoColor='' -%>
    <%  photos.forEach(function(photoItem){  -%>
            <% if(photoItem.productDetailID.equals(product._id) &&photo1=='empty'){ -%>
                <% photo1=photoItem.path -%>
                <% photoColor= photoItem.color -%>
            <% } -%>
        <% }); -%>
    <!-- tim` hinh dau` tien -->

    <!-- Tìm hình thứ 2 -->
    <% var photo2=photo1 -%>
    <%  photos.forEach(function(photoItem){  -%>
        <% if(photoItem.productDetailID.equals(product._id) &&photo1==photo2 && photoColor!=photoItem.color ){ -%>
            <% photo2=photoItem.path -%>
        <% } -%>
    <% }); -%>
    <!-- Tìm hình thứ 2 -->       
    <%  var ref= `productdetail?id=${product._id}`-%>
<div class="col-lg-3">
    <div class="single_product">
        <div class="product_thumb">
            <a class="primary_img" href="<%= ref %>"><img src="<%= photo1 %>"    alt=""></a>
                <a class="secondary_img" href="<%= ref %>"><img src="<%= photo2 %>"  alt=""></a>
            <div class="product_action">
                <div class="hover_action">
                   <a  href="<%= ref %>"><i class="fa fa-plus"></i></a>
                    <div class="action_button">
                        <ul>

                            <li><a title="add to cart" href="cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                            <li><a href="wishlist.html" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>

                            <li><a href="compare.html" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>

                        </ul>
                    </div>
               </div>

            </div>
            <div class="quick_button">
                <a href="#" data-id="<%= product._id %>" data-toggle="modal" data-target="#modal_box" title="quick_view">+ quick view</a>
            </div>

            <div class="double_base">
                <%  if(product.discount) {-%>
                    <div class="product_sale">
                        <span>-<%= product.discount %>%</span>
                    </div>   
                    <% }  %>
                    <% if (product.status.includes("New")){ -%>
                        <div class="label_product">
                            <span>New</span>
                        </div>
                    <% } -%>
            </div>
        </div>
        <div class="product_content">
            <h3><a href="<%= ref %>"><%= product.name%></a></h3>
            <%  if(product.discount) {-%>
            <span class="current_price"><%= (product.price*(100-product.discount))/100 %>VND</span>
            <span class="old_price"><%= product.price %>VND</span>
                <% } else { -%>
            <span class="current_price"><%= product.price %>VND</span>
                 <% } -%>
        </div>
    </div>
</div>
<% } -%>