<%- contentFor("head") %>

    <link rel="stylesheet" href="/public/stylesheets/shop-page.css">
    <%- contentFor("body") %>

        <div>

            <body>

                <!-- Main Wrapper Start -->
                <!--Offcanvas menu area start-->
                <!--header area end-->
                <!--breadcrumbs area start-->
                <div class="breadcrumbs_area">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="breadcrumb_content">
                                    <ul>
                                        <li><a href="/">home</a></li>
                                        <li>/</li>
                                        <li>shop</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--breadcrumbs area end-->

                <!--shop  area start-->
                <div class="shop_area shop_reverse">
                    <div class="container">
                        <div class="shop_inner_area">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">
                                    <!--sidebar widget start-->
                                    <div class="sidebar_widget">
                                        <div class="widget_list widget_filter">
                                            <h2>Filter by price</h2>
                                            <div class="input-wrapper">
                                                <div class="price-input">
                                                    <span>Min</span>
                                                    <input  class="input-min"  data-price="25000" value = "25000">
                                                </div>
                                                <div class="separator">-</div>
                                                <div class="price-input">
                                                    <span>Max</span>
                                                    <input   class="input-max"  data-price="500000" value = "500000">
                                                </div>
                                            </div>
                                            <div class="range-wrapper">
                                                <div class="progress"></div>
                                            </div>
                                            <div class="range-input">
                                                <input type="range" class="range-min" min="0" max="3000000" value="2500">
                                                <input type="range" class="range-max" min="0" max="3000000" value="500000">
                                            </div>
                                            <button class="filter-btn">Filter</button>
                                        </div>
                                        <div id="filter-list">
                                            <%- include('filter.ejs',{categoryObject,color,tag,manufacture,paramObject})%>
                                        </div>
                                    </div>
                                    <!--sidebar widget end-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <!--shop wrapper start-->
                                    <!--shop toolbar start-->
                                    <div class="shop_title">
                                        <h1>shop</h1>
                                    </div>
                                    <div class="shop_toolbar_wrapper">
                                        <div class="shop_toolbar_btn">

                                            <button data-role="grid_3" type="button" class="active btn-grid-3"
                                                data-toggle="tooltip" title="3"></button>

                                            <button data-role="grid_4" type="button" class=" btn-grid-4"
                                                data-toggle="tooltip" title="4"></button>

                                            <button data-role="grid_5" type="button" class="btn-grid-5"
                                                data-toggle="tooltip" title="5"></button>

                                            <button data-role="grid_list" type="button" class="btn-list"
                                                data-toggle="tooltip" title="List"></button>
                                        </div>
                                        
                                        <select  id="sort_select">
                                            <option class="sort-type" value="0">All</option>      
                                            <option class="sort-type" value="1">Sort by price: low to high</option>
                                            <option class="sort-type" value="2">Sort by price: high to low</option>
                                            <option class="sort-type" value="3">Sort by name: A->Z</option>
                                            <option class="sort-type" value="4">Sort by name: Z->A</option>
                                        </select>                                  
                                        <div class="page_amount">
                                            <p>Showing <%= (current-1)*perPage+1 %> – <%= (current-1)*perPage+count
                                                        -(perPage*(current-1)) %> of <%= count%> results</p>
                                        </div>
                                    </div>
                                    <!--shop toolbar end-->

                                    <div class="row shop_wrapper" id="product-category">
                                        <%- include('product-category.ejs',{products:
                                            products,photos:photos}) %>
                                    </div>

                                    <div class="shop_toolbar t_bottom">
                                        <div class="pagination">
                                            <ul id="myPagination">
                                                <%- include('pagination.ejs',{c:current,l:pages})%>
                                            </ul>
                                        </div>

                                    </div>
                                    <!--shop toolbar end-->
                                    <!--shop wrapper end-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--shop  area end-->

                <!--footer area start-->

                <!--footer area end-->
        </div>
        <!-- HIDE form -->
        <form id="sort_form" method="POST"></form>


        <!-- JS
    ============================================ -->


       

<%- contentFor("end") %>


<!--Page's local value  -->
 <script> var sort='<%= sort%>'</script>
// script build UI
<!-- Plugins JS -->
<script src="/public/javascripts/user/shop-page.js"></script>
<script src="/public/javascripts/user/pagination.js"></script>
<script src="/public/javascripts/user/list.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<%  let minVal= +paramObject.gt||200000 %>
<%  let maxVal= +paramObject.lt||2000000 %>
<script>setRangeInput("<%=minVal%>","<%=maxVal%>") </script>  
<script>setPriceInput("<%=minVal%>","<%=maxVal%>") </script>  






                                        