<%- contentFor("head") %>

    <link rel="stylesheet" href="/public/stylesheets/shop-page.css">
    <%- contentFor("body") %>

        <div>

            <body>

                <!-- Main Wrapper Start -->
                <!--Offcanvas menu area start-->
                <!--header area end-->
                <!--breadcrumbs area start-->
                <div class="breadcrumbs_area">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="breadcrumb_content">
                                    <ul>
                                        <li><a href="index.html">home</a></li>
                                        <li>/</li>
                                        <li>shop</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--breadcrumbs area end-->

                <!--shop  area start-->
                <div class="shop_area shop_reverse">
                    <div class="container">
                        <div class="shop_inner_area">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">
                                    <!--sidebar widget start-->
                                    <div class="sidebar_widget">
                                        <div class="widget_list widget_filter">
                                            <h2>Filter by price</h2>
                                            <form action="#">
                                                <div id="slider-range"></div>
                                                <button type="submit">Filter</button>
                                                <input type="text" name="text" id="amount" />

                                            </form>
                                        </div>
                                        <div class="widget_list widget_categories">
                                            <h2>Product categories</h2>
                                            <ul id="categoriesList">

                                            </ul>
                                        </div>

                                        <div class="widget_list widget_categories">
                                            <h2>Manufacturer</h2>
                                            <ul id="manufacturerList">
                                            </ul>
                                        </div>
                                        <div class="widget_list widget_categories">
                                            <h2>Select By Color</h2>
                                            <ul id="color_list">
                                            </ul>
                                        </div>
                                        <div class="widget_list tag-cloud">
                                            <h2>Popular Tags</h2>
                                            <div class="tag_widget">
                                                <ul id="tag_list">

                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                    <!--sidebar widget end-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <!--shop wrapper start-->
                                    <!--shop toolbar start-->
                                    <div class="shop_title">
                                        <h1>shop</h1>
                                    </div>
                                    <div class="shop_toolbar_wrapper">
                                        <div class="shop_toolbar_btn">

                                            <button data-role="grid_3" type="button" class="active btn-grid-3"
                                                data-toggle="tooltip" title="3"></button>

                                            <button data-role="grid_4" type="button" class=" btn-grid-4"
                                                data-toggle="tooltip" title="4"></button>

                                            <button data-role="grid_5" type="button" class="btn-grid-5"
                                                data-toggle="tooltip" title="5"></button>

                                            <button data-role="grid_list" type="button" class="btn-list"
                                                data-toggle="tooltip" title="List"></button>
                                        </div>
                                        
                                        <select  id="sort_select">
                                            <option value="0">All</option>      
                                            <option value="1">Sort by price: low to high</option>
                                            <option value="2">Sort by price: high to low</option>
                                            <option value="3">Sort by name: A->Z</option>
                                            <option value="4">Sort by name: Z->A</option>
                                        </select>
                                    
                                              



                                     
                                        <div class="page_amount">
                                            <p>Showing <%= (current-1)*perPage+1 %> – <%= (current-1)*perPage+count
                                                        -(perPage*(current-1)) %> of <%= count%> results</p>
                                        </div>
                                    </div>
                                    <!--shop toolbar end-->

                                    <div class="row shop_wrapper">
                                        <% products.forEach(function(item){ -%>
                                            <div class="col-lg-4  ">
                                                <%- include('product_single_container.ejs',{product:
                                                    item,photos:photos,isHomePage:false}); %>
                                            </div>
                                            <% }); -%>
                                    </div>

                                    <div class="shop_toolbar t_bottom">
                                        <div class="pagination">
                                            <ul id="myPagination">
                                            </ul>
                                        </div>

                                    </div>
                                    <!--shop toolbar end-->
                                    <!--shop wrapper end-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--shop  area end-->

                <!--footer area start-->

                <!--footer area end-->
        </div>
        <!-- HIDE form -->
        <form id="sort_form" method="POST"></form>


        <!-- JS
    ============================================ -->


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/public/javascripts/user/pagination.js"></script>
        <script src="/public/javascripts/user/list.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Plugins JS -->


        <script>pagination('<%= current%>', '<%= pages%>')</script>
        
        <%for (const [key, value] of Object.entries(categoryObject)) { -%>
        <script>  createList('categoriesList', 'type', '<%= key%>', '<%= value%>')   </script>
        <% }-%>

        <script>pagination('<%= current%>', '<%= pages%>')</script>
        <%for (const [key, value] of Object.entries(manufacture)) { -%>
        <script>  createList('manufacturerList', 'brand', '<%= key%>', '<%= value%>')   </script>
        <% }-%>

        <%for (const [key, value] of Object.entries(tag)) { -%>
        <script>  createList('tag_list', 'tag', '<%= key%>', '')   </script>
        <% }-%>

        <%for (const [key, value] of Object.entries(color)) { -%>
        <script>  createList('color_list', 'color', '<%= key%>', '<%= value%>')   </script>
        <% }-%>
        
        <script>
        $('#sort_select').val('<%= sort%>')
        $( "#sort_select" ).change(function() {
            let sortUrl='/shopcategory/?color=red'
            $('#sort_form').attr('action',`/shopcategory/?${addParam('sort', $( "#sort_select" ).val())}`)
            $('#sort_form').submit()
        
        });
        </script>



                                        