<%- contentFor("head") %> 

<link rel="stylesheet" href="/public/stylesheets/user/blog-page.css">

<%- contentFor("body") %> 

<!--breadcrumbs area start-->
<div class="breadcrumbs_area other_bread">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/home">home</a></li>
                        <li>/</li>
                        <li>blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->

<!--blog body area start-->
<div class="blog_area blog_page blog_reverse">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--blog sidebar start-->
                <aside class="blog_sidebar">
                  
                    
                     <!--categories start-->
                 
                    <!--categories end-->
                    
                     <!--recent post start-->
                    <div class="sidebar_widget recent_post">
                        <h3 class="widget_title">Recent Posts</h3>
                        <% tempArray= blogs.sort(function(a,b){return a.date- b.date}) %> 
                        <% for (let i=0; i<4 && i<tempArray.length; i++){ %> 
                            <div class="sidebar_post">
                                <div class="post_img">
                                    <a href="/blogdetail/<%= tempArray[i]._id %>"><img src="<%= tempArray[i].image %> " alt=""></a>
                                </div>
                                <div class="post_text">
                                    <h3><a href="/blogdetail/<%= tempArray[i]._id %>"><%= tempArray[i].descript %></a></h3>
                                    <span><%=  moment(tempArray[i].date).format("MMMM Do YYYY")  %> </span>
                                </div>
                                
                            </div>
                            <% } %> 
                        
                        
                        
                            
                    </div>
                    <!--recent post end-->
                    
                    <!--recent post start-->
                 
                    <!--recent post end-->
                   

                   <div class="sidebar_widget tags_widget">
                       <%- include("partial/tags.ejs",{blogs}) %>
                       
                   </div>
                    
                  
                    
                </aside>
 
                <!--blog sidebar start-->
            </div>
            <div class="col-lg-9 col-md-12">
                <!--blog grid area start-->
                <div class="blog_grid_area" id="blog_list">
                  <%- include("partial/blog-list.ejs",{moment,blogs,pages})%> 
                </div>
                <!--blog grid area start-->
            </div>
        </div>
    </div>
</div>
<!--blog section area end-->

<!--blog pagination area start-->
<div class="blog_pagination">
    <div class="container">
        <div class="row">
            <div class="col-12">
               <%-  include('partial/pagination.ejs',{pages,currentPage,perPage}) %>
            </div>
        </div>
    </div>
</div>
<!--blog pagination area end-->
<%- contentFor("end") %>
<script>let BLOGPAGE</script>
<script src="/public/javascripts/user/function.js"></script>
<script src="/public/javascripts/user/blog-page/blog-pagination.js"></script>
<script src="/public/javascripts/user/blog-page/blog-category.js"></script>
