<%- contentFor("head") %> 

<link rel="stylesheet" href="/public/stylesheets/user/blog-page.css">
<%- contentFor("body") %> 

<!--breadcrumbs area start-->
<% console.log(`my blog ${ currentBlog}`) %> 
<div class="breadcrumbs_area other_bread">
    <div class="container">     
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">home</a></li>
                        <li>/</li>
                        <li>blog details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->

<!--blog body area start-->
<div class="blog_area blog_details">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--blog sidebar start-->
                <aside class="blog_sidebar">
                 
                    
                    
                     <!--recent post start-->
                    <div class="sidebar_widget recent_post">
                        <h3 class="widget_title">Recent Posts</h3>
                        <% tempArray= blogs.sort(function(a,b){return a.date- b.date}) %> 
                        <% for (let i=0; i<4 && i<tempArray.length; i++){ %> 
                            <div class="sidebar_post">
                                <div class="post_text">
                                    <h3><a href="/blogdetail/<%= tempArray[i]._id %>"><%= tempArray[i].title %></a></h3>
                                    <span><%=  moment(tempArray[i].date).format("MMMM Do YYYY")  %> </span>
                                </div>
                                
                            </div>
                            <% } %> 
                       
                          
                    </div>
                    <!--recent post end-->
                
                    
                    <% let tags_list=[]
                     blogs.forEach(function(blog) {
                         blog.tags.forEach(function(tag) {
                             if (!tags_list.includes(tag)){
                                tags_list.push(tag)
                             }
                         })
                     })
                    %>
 
                    <div class="sidebar_widget tags_widget">
                        <h3 class="widget_title">Tag Cloud</h3>
                        <ul>
                            <% tags_list.forEach(function(tag) { %>
                            <li><a href="/blogcategory?tags=<%= tag %>"><%= tag %></a></li>
                           <% }) %> 
                        </ul>
                    </div>
                    
                </aside>
 
                <!--blog sidebar start-->
            </div>
            <div class="col-lg-9 col-md-12">
                <!--blog grid area start-->
                <div class="blog_details_wrapper">
                   <div class="blog__thumb">
                       <a ><img src="<%= currentBlog.image%>" alt=""></a>
                   </div>
                   <div class="blog_info_wrapper">
                        <div class="blog_info_inner">
                            <div class="post__date">
                               <span class="day"><%= moment(currentBlog.date).format('DD')%></span>
                               <span class="month"><%= moment(currentBlog.date).format('MMM')%></span>
                           </div>
                           <div class="post__info"> 
                               <div class="post_header">
                                   <h3><%= currentBlog.title %></h3>
                               </div>
                                <div class="post_meta">
                                   <span>Posted by </span>
                                    <span><a ><%= JSON.stringify(currentBlog.author.name) %> </a></span>
                                  
                                </div>
                                <div class="post_content">
                                   
                                    <p><%= currentBlog.content %> </p>
                                </div>
                                <div class="post_meta">
                                    <span> / Tags: </span>
                                        <% currentBlog.tags.forEach(function(tag) { %> 
                                        <span><a href="/blogcategory?tags=<%= tag %>"><%= tag  %>/ </a></span>   
                                    <% }) %> 
                                    
                                </div>
                               
                                <div class="author_box">
                                  
                                    <div class="author_desc">
                                        <h3>About the Author: <a ><%= currentBlog.author.name %></a></h3>
                                        <p><%= currentBlog.author.bios%></p>
                                    </div>
                                </div> 
                           </div>
                        </div>  
                      
                       
                   </div>
                </div>
                <!--blog grid area start-->
            </div>
        </div>
    </div>
</div>
<!--blog section area end-->
<%- contentFor("end") %>
<script src="/public/javascripts/user/function.js"></script>
<script src="/public/javascripts/user/blog-page/blog-pagination.js"></script>
<script src="/public/javascripts/user/blog-page/blog-category.js"></script>